In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spam.csv", encoding = "ISO-8859-1")

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
for col in df.columns:
    if 'Unnamed' in col:
        del df[col]

In [5]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.columns = ['Category','Message']
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.Category,test_size=0.2)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]
features = v.fit_transform(X_train)

In [13]:
print(X_train_count)

  (0, 7681)	1
  (0, 6609)	1
  (0, 3656)	1
  (0, 6587)	1
  (0, 7067)	1
  (0, 4198)	1
  (1, 1153)	1
  (1, 3532)	1
  (1, 2372)	1
  (1, 2183)	1
  (1, 7538)	1
  (1, 6801)	1
  (1, 3095)	1
  (1, 1726)	1
  (1, 6929)	1
  (1, 4415)	1
  (1, 4038)	1
  (1, 4778)	1
  (1, 1561)	1
  (1, 7101)	1
  (1, 7669)	1
  (2, 4415)	1
  (2, 4916)	1
  (2, 1616)	1
  (2, 6674)	1
  :	:
  (4454, 1059)	1
  (4454, 2164)	1
  (4454, 2424)	1
  (4454, 7018)	1
  (4455, 900)	1
  (4455, 6818)	1
  (4455, 3197)	1
  (4455, 7511)	1
  (4455, 973)	1
  (4455, 1313)	1
  (4455, 4210)	1
  (4455, 1896)	1
  (4455, 3781)	1
  (4455, 2003)	1
  (4455, 2850)	1
  (4455, 899)	1
  (4456, 4666)	1
  (4456, 3197)	1
  (4456, 2174)	1
  (4456, 933)	1
  (4456, 3372)	1
  (4456, 2187)	1
  (4456, 3248)	1
  (4456, 4593)	1
  (4456, 6559)	1

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

In [ ]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

In [ ]:
features_test = cv.transform(X_test)
model.score(features_test,y_test)*100